.container{
max-width:var(--container);
margin:auto;
padding:0 20px;
}

.hero-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
align-items:center;
}

.about-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
}

.tech-grid{
display:grid;
grid-template-columns:repeat(6,1fr);
gap:20px;
}

.projects-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}

.contact-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
}